{{ $c := "c-Centered-block--demo" }}

{{ $media_ext := path.Ext .media }}
{{ $img_extensions := slice ".png" ".jpg" ".jpeg" ".gif" ".webp" ".svg" }}
{{ $vid_extensions := slice ".mov" ".mp4" ".wmv" ".webm" ".avi" ".flv" }}

<div class="{{ $c }}">
    <div class="content-wrapper">
        {{ partial "bookshop" .heading }}
    </div>
    <div class="inner-grid">
        <div class="image-wrapper">
            <img class="mobile" src="/img/demo-background-mobile.svg" />
            <img class="tablet" src="/img/demo-background-tablet.svg" />
            <img class="desktop" src="/img/demo-background-desktop.svg" />

            <div class="media-holder">
                <div class="media elevation-medium">
                    {{ if ne .use_external_url true }}
                        {{ if in $img_extensions $media_ext }}
                            <img src="{{ .media }}" />
                        {{ else if in $vid_extensions $media_ext }}
                            <video autoplay>
                                <source src="{{ .media }}">
                            </video>
                        {{ end }}      
                    {{ else }}
                        {{ .embed_code | safeHTML }}
                        {{ if ne .external_url "" }}              
                            Put the external content here
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>