{{ $c := "c-Centered-block--low-image" }}

<div class="{{ $c }}">
    <div class="content-wrapper">
        <div class="content">
            <h2>{{ .title }}</h2>

            <p>{{ .text }}</p>

            {{ if (eq .show_button true) }}
                {{ partial "bookshop" (slice "button" .button) }}
            {{ end }}
        </div>

        <div class="image">
            <img class="mobile" src="/img/Forest-image-mobile.svg" />
            <img class="desktop" src="/img/Forest-image-desktop.svg" />
        </div>
    </div>
</div>