/* Heading font */
@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow/Barlow-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow/Barlow-MediumItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow/Barlow-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("/fonts/Barlow/Barlow-SemiBoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* Body font */
@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}


:root{
    /* Core colours */
    --core-body: #343A40;
    --core-white: #FFFFFF;
    --core-brand: #26A726;
    --core-accessible: #19892B;

    /* Primary colours */
    --primary-brand-050: #E7F6E9;
    --primary-brand-100: #C6E8C8;
    --primary-brand-200: #A1DAA6;
    --primary-brand-300: #7ACC81;
    --primary-brand-400: #5CC066;
    --primary-brand-500: #3CB54A;
    --primary-brand-600: #27AA27;
    --primary-brand-700: #269435;
    --primary-brand-800: #19892B;
    --primary-brand-900: #006316;

    --primary-grey-050: #F9F9FB;
    --primary-grey-100: #F2F2F4;
    --primary-grey-200: #E9E9EC;
    --primary-grey-300: #D9D9DC;
    --primary-grey-400: #B6B6B8;
    --primary-grey-500: #969698;
    --primary-grey-600: #6E6E70;
    --primary-grey-700: #5A5A5C;
    --primary-grey-800: #3B3B3D;
    --primary-grey-900: #1B1B1D;

    /* Secondary colours */
    --secondary-green-050: #F2F8E8;
    --secondary-green-100: #DDEEC6;
    --secondary-green-200: #C7E3A2;
    --secondary-green-300: #B0D77C;
    --secondary-green-400: #9ECF5E;
    --secondary-green-500: #8DC640;
    --secondary-green-600: #7EB638;
    --secondary-green-700: #69A22E;
    --secondary-green-800: #558E25;
    --secondary-green-900: #306C12;

    --secondary-teal-050: #E0F4F1;
    --secondary-teal-100: #B2E5DC;
    --secondary-teal-200: #7FD4C5;
    --secondary-teal-300: #46C2AE;
    --secondary-teal-400: #00B49C;
    --secondary-teal-500: #00A68B;
    --secondary-teal-600: #00987D;
    --secondary-teal-700: #00876D;
    --secondary-teal-800: #00775E;
    --secondary-teal-900: #005A42;

    --secondary-blue-050: #E3F6FC;
    --secondary-blue-100: #B9E7F8;
    --secondary-blue-200: #8ED8F4;
    --secondary-blue-300: #69C8EE;
    --secondary-blue-400: #54BCEC;
    --secondary-blue-500: #48B0E8;
    --secondary-blue-600: #42A2DA;
    --secondary-blue-700: #3A8FC6;
    --secondary-blue-800: #367EB2;
    --secondary-blue-900: #2B5E8F;

    --secondary-purple-050: #E8E8F3;
    --secondary-purple-100: #C6C4E3;
    --secondary-purple-200: #A19ECF;
    --secondary-purple-300: #7D79BC;
    --secondary-purple-400: #645CAE;
    --secondary-purple-500: #4D3FA0;
    --secondary-purple-600: #473796;
    --secondary-purple-700: #3F2E8B;
    --secondary-purple-800: #38237F;
    --secondary-purple-900: #2B0F6A;

    --bg-light-grey: #F8F9FA;

    /* Base grid for layout */
    --twelve-column-grid: 1fr repeat(12, calc(min(96px, 7.78%))) 1fr;

    /* Font styles */
    --main-heading-font-600: 600 24px "Barlow", sans-serif;
    --main-heading-font-700: 700 24px "Barlow", sans-serif;
    
    --main-body-font-400: 400 16px "Source Sans Pro", sans-serif;
    --main-body-font-600: 500 16px "Source Sans Pro", sans-serif;      
}