.c-Left-right-block-component__quote {
    border-top: 3px solid var(--primary-brand-100);
    border-bottom: 3px solid var(--primary-brand-100);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
    width: 100%;

    h3::before, h3::after{
        content: "”";
    }
    
    div{
        font: var(--main-body-font-400);
        font-style: italic;
    }

    div::before{
        content: "- ";
    }
}