{{ $c := "c-Left-right-block--generic" }}

<div class="{{ $c }}" style="--left-cols: {{ .left_cols }}; --right-cols: {{ .right_cols }}">
    <div class="content-wrapper">
        
        {{ if .left }}
            <div class="left">
                {{ range .left }}
                    {{ partial "bookshop" . }}
                {{ end }}
            </div>
        {{ end }}
    
        {{ if .right }}
            <div class="right {{ if (eq .forceRightOnTop true) }}forceRightOnTop{{ end }}">
                {{ range .right }}
                    {{ partial "bookshop" . }}
                {{ end }}
            </div>
        {{ end }}

    </div>
</div>