.c-Left-right-block--generic {

    background: var(--bg-light-grey);
    min-width: 480px;
    display:grid;    
    grid-template-columns: var(--twelve-column-grid);

    .content-wrapper{
        grid-column: 2 / 14;
        padding:96px 16px;                      
        display:flex;
        flex-direction:column;

        .left, .right{
            display:flex;
            align-items: center;            
        }

        @media screen and (min-width:481px){                                                          
            padding:96px 0;
            gap:48px;            

            /* Tablet view */
            @media screen and (max-width:768px){            
                grid-column: 3 / 13;                                 
            }      
    
            /* Desktop view */
            @media screen and (min-width:769px){     
                display:grid;  
                grid-template: 1fr / repeat(12, 1fr);                
            }   
        }
    }
}