.c-Left-right-block--generic {
    --left-cols: 2;
    
    background: var(--primary-grey-050);
    min-width: 480px;
    display:grid;    
    grid-template-columns: var(--twelve-column-grid);

    .content-wrapper{
        grid-column: 2 / 14;
        padding:96px 16px;                      
        display:grid;
        grid-template-columns:repeat(12,1fr);
        row-gap:48px;

        .left, .right{
            grid-column:1/13;
            display:grid;
            grid-template-columns:repeat(12,1fr);
            align-items: center;                        
        }

        .left{ order:0; }
        .right{ order:0; }
        .right.forceRightOnTop{ order: -1; }        

        @media screen and (min-width:481px){                                                          
            padding:96px 0;                       

            /* Tablet view */
            @media screen and (max-width:768px){            
                grid-column: 3 / 13;                                 
            }      
    
            /* Desktop view */
            @media screen and (min-width:769px){   
                gap:0;   

                .left, .right{
                    order:0!important;
                }

                /*.left--5{ grid-column: 1 / span 5 }
                .left--6{ grid-column: 1 / span 6 }*/

                .left{ grid-column: 1 / span var(--left-cols) }

                .right--5{ grid-column: span 5 / 13 }
                .right--6{ grid-column: span 6 / 13 }
            }   
        }
    }
}