.c-Left-right-block--generic {

    background: var(--bg-light-grey);
    min-width: 480px;
    display:grid;    
    grid-template-columns: var(--twelve-column-grid);

    .content-wrapper{
        grid-column: 2 / 14;
        padding:96px 16px;
        display:grid;        
        grid-template: 1fr / repeat(12, 1fr);
        
       /* img{ width:100%; }

        .image{           
            background-repeat:no-repeat;
            background-size:contain;
            background-position:center;
        }*/

        @media screen and (min-width:481px){                                              
    
            padding:96px 0;

            /* Tablet view */
            @media screen and (max-width:768px){            
                grid-column: 3 / 13;                                 
            }      
    
            /* Desktop view */
            @media screen and (min-width:769px){     
                display:grid;              

                .image{ 
                    order:0;
                    
                    &__right{ order:1; }
                }
                
                img{ display:none; }
            }   
        }
    }
}