{{ $c := "c-Left-right-block--generic" }}

<div class="{{ $c }}">
    <div class="content-wrapper">
        
        {{ if .left }}
            <div class="left left--{{ .left_cols }}">
                {{ partial "bookshop" .left }}
            </div>
        {{ end }}
    
        {{ if .right }}
            <div class="right right--{{ .right_cols }} {{ if (eq .forceRightOnTop true) }}forceRightOnTop{{ end }}">
                {{ partial "bookshop" .right }}
            </div>
        {{ end }}

    </div>
</div>