:root{
    /* Core colours */
    --core-body: #343A40;
    --core-white: #FFFFFF;
    --core-brand: #26A726;
    --core-accessible: #19892B;

    /* Primary colours */
    --primary-brand-050: #E7F6E9;
    --primary-brand-100: #C6E8C8;
    --primary-brand-200: #A1DAA6;
    --primary-brand-300: #7ACC81;
    --primary-brand-400: #5CC066;
    --primary-brand-500: #3CB54A;
    --primary-brand-600: #27AA27;
    --primary-brand-700: #269435;
    --primary-brand-800: #19892B;
    --primary-brand-900: #006316;

    --primary-grey-050: #F9F9FB;
    --primary-grey-100: #F2F2F4;
    --primary-grey-200: #E9E9EC;
    --primary-grey-300: #D9D9DC;
    --primary-grey-400: #B6B6B8;
    --primary-grey-500: #969698;
    --primary-grey-600: #6E6E70;
    --primary-grey-700: #5A5A5C;
    --primary-grey-800: #3B3B3D;
    --primary-grey-900: #1B1B1D;

    --primary-green-050: #F2F8E8;
    --primary-green-100: #DDEEC6;
    --primary-green-200: #C7E3A2;
    --primary-green-300: #B0D77C;
    --primary-green-400: #9ECF5E;
    --primary-green-500: #8DC640;
    --primary-green-600: #7EB638;
    --primary-green-700: #69A22E;
    --primary-green-800: #558E25;
    --primary-green-900: #306C12;

    --primary-teal-050: #E0F4F1;
    --primary-teal-100: #B2E5DC;
    --primary-teal-200: #7FD4C5;
    --primary-teal-300: #46C2AE;
    --primary-teal-400: #00B49C;
    --primary-teal-500: #00A68B;
    --primary-teal-600: #00987D;
    --primary-teal-700: #00876D;
    --primary-teal-800: #00775E;
    --primary-teal-900: #005A42;

    --primary-blue-050: #E3F6FC;
    --primary-blue-100: #B9E7F8;
    --primary-blue-200: #8ED8F4;
    --primary-blue-300: #69C8EE;
    --primary-blue-400: #54BCEC;
    --primary-blue-500: #48B0E8;
    --primary-blue-600: #42A2DA;
    --primary-blue-700: #3A8FC6;
    --primary-blue-800: #367EB2;
    --primary-blue-900: #2B5E8F;

    --primary-purple-050: #E8E8F3;
    --primary-purple-100: #C6C4E3;
    --primary-purple-200: #A19ECF;
    --primary-purple-300: #7D79BC;
    --primary-purple-400: #645CAE;
    --primary-purple-500: #4D3FA0;
    --primary-purple-600: #473796;
    --primary-purple-700: #3F2E8B;
    --primary-purple-800: #38237F;
    --primary-purple-900: #2B0F6A;

    
    --twelve-column-grid: 1fr repeat(12, calc(min(96px, 7.78%))) 1fr
}