img{
    grid-column:1/13;
    width:100%;

    @media screen and (min-width:481px){  
        @media screen and (max-width:768px){            
            grid-column: 2 / 12;                                 
        }   
    }
}
