{{ $c := "c-Left-right-block" }}

<div class="{{ $c }}">
    <div class="content-wrapper">
        <div class="image image__{{ .image_position }}" style='background-image: url("{{ .image }}");'></div>

        <img src="{{ .image }}" />

        <div class="content">
            <h2>{{ .title }}</h2>

            <p>{{ .text }}</p>

            {{ if (eq .show_list true) }}
                <ul>
                    {{ range .list_items }}
                        <li><a href="">{{ . }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}

            {{ if (eq .show_button true) }}
                {{ partial "bookshop" (slice "button" .button) }}
            {{ end }}
        </div>
    </div>
</div>