{{ $c := "c-Logos-strip" }}

<div class="{{ $c }}">
    <div class="content-wrapper">
        <p class="title">{{ .title }}</p>
        <div class="logos-row">
            {{ partial "bookshop" .logo1 }}            
            {{ partial "bookshop" .logo2 }}       
            {{ partial "bookshop" .logo3 }}       

            {{ if .logo4 }}
                {{ partial "bookshop" .logo4 }}       
            {{ end }}

            {{ if .logo5 }}
                {{ partial "bookshop" .logo5 }}       
            {{ end }}
        </div>
    </div>
</div>