{{ $c := "c-Logos-strip" }}

{{ $logos_array := .logos }}
{{ $len := .logos | len }}

{{ if lt $len 3 }}
    {{ $diff := sub 3 $len }}
    {{ range seq $diff }}
        {{ $logos_array = $logos_array | append (dict "_bookshop_name" "logo" "alt" "LOGO" "text" "Hello World!") }}
    {{ end }}
{{ end }}

<div class="{{ $c }}">
    <div class="content-wrapper">
        <p class="title">{{ .title }}</p>
        <div class="logos-row">
            {{ range first 5 $logos_array }}
                {{ partial "bookshop" (slice "logo" $element) }}                
            {{ end }}
        </div>
    </div>
</div>